doctype html
head
  title User Account Info
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  // DO NOT REMOVE: used to verify domain (https://console.cloud.google.com/apis/credentials/domainverification)
  meta(name='google-site-verification' content='ACCLsiB-jdMu-ISLiJTU88ENRp8b4hho1IVfGR8Yq2o')
  // css
  link(rel='stylesheet' href='home.css' media='all')
#account-info-container
  .account-info-txt
    h3 How High Can We Count?
  .account-info-txt
    a(href=YT_MY_VIDEO_URL) #{YT_MY_VIDEO_URL}